@font-face {
    font-family: 'Marvel-font';
    src: url('../assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

#gallery {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 64px;
    
    .side-bar{
        
        position: fixed;
        height: 93.5%;
        width: 20%;

        padding-top: 64px;
        display: flex;
        flex: 1 1 auto;
        
        display: flex;
        justify-content: center;        

        background-color: #2C3859;


        hr {
            color: gray;
            background-color: gray;
            height: .5;
            border-color: gray;
            width: 75%;
            position: absolute;
            left: 12%;
        }

        .side-bar-scrolling {
            width: 500;
            height: 300;

        }

        .side-bar-text {

            display: flex;
            align-items: center;

            width: 50%;

            font-family: 'Roboto';
            font-size: 3vh;
            text-align: center;
        }
        .character-data {

            .character-name {
                text-align: center;
                width: 100%;

                font-family: 'Roboto';
                font-weight: 400;

                padding-bottom: 15px;
            }
            .series-title {
                text-align: center;
                width: 100%;

                font-family: 'Roboto';
                font-weight: 400;

                padding-bottom: 15px;

                padding-top: 15px;
            }
            .series-list{
                margin-top: 20px;
            }
            .series-name{

                font-family: 'Roboto';
                font-weight: 400;

                width: 100%;
                text-align: center;
                padding: 20px;
                
                font-size: 20px;
            }
            img {
                width: 100%;
                height: 40%;

                margin-top: 20px;
                margin-bottom: 20px;
                padding: 0 10px 0 10px;

                border-radius: 30px;
            }
        }
    }

    .search-bar {

        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 60px;
        padding-left: 365px;

        width: 100%;

        input {
            width: 50%;
            height: 40px;
            position: fixed;
            
            font-family: 'Roboto';
            color: #fff;
            
            &::placeholder {
                color: #fff;
                font-family: 'Roboto';
            }

            background-color: #2C3859;
            border-color: #2C3859;
            border-width: 0px;
            border-radius: 50px;
            
            background-image: url('/assets/images/search.png');
            background-repeat: no-repeat;
            background-position-x: 1%;
            background-position-y: center;

            img {
                width: 10%;
            }

            padding-left: 50px;
            outline: none;
        }
        }

    .main-content {

        display: flex;
        padding-left: 25%;

        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        align-content: center;
        
        .character-icon {

            margin: 8vh;
            height: 26.5vh;
            width: 18.75vh;
            background-color:  #F0131E;
            
            border: 0px solid;
            border-radius: 4vh;

            cursor: pointer;

            img {
                height: 21.5vh;
                width: 18.75vh;
                border-radius: 3.9vh 3.9vh 0 0;
            }
            h1{
                max-height: 5vh;
                max-width: 15vh;

                font-family: 'Marvel-font';
                font-size: 3vh;
                
                margin-left: 2vh;

                text-align: center;
                white-space: nowrap;

                overflow: hidden;
                text-overflow: clip;
            }
        }
    }
}