@font-face {
    font-family: 'Marvel-font';
    src: url('../assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

#gallery {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    .side-bar{
        
        top: 8vh;
        position: fixed;
        width: 20%;
        height: 92vh;

        display: flex;
        flex: 1 1 auto;
        
        display: flex;
        justify-content: center;        

        background-color: #2C3859;

        border: 2px solid #2C3859;
        border-radius: 0 0 4vh 0;

        .side-bar-text {

            display: flex;
            align-items: center;

            width: 50%;

            font-family: 'Roboto';
            font-size: 3vh;
            text-align: center;
        }
    }
    .main-content {

        display: flex;
        margin-left: 25%;
        margin-top: 8vh;

        flex-wrap: wrap;
        width: 150vh;
        height: 100%;

        align-content: center;
        .character-icon {

            margin: 8vh;
            height: 26.5vh;
            width: 18.75vh;
            background-color: red;
            
            border: 0px solid;
            border-radius: 4vh;


            img {
                height: 21.5vh;
                width: 18.75vh;
                border-radius: 3.9vh 3.9vh 0 0;
            }
            h1{
                max-height: 5vh;
                max-width: 15vh;

                font-family: 'Marvel';
                font-size: 3vh;
                
                margin-left: 2vh;

                text-align: center;
                white-space: nowrap;

                overflow: hidden;
                text-overflow: clip;
            }
        }
    }
}