@font-face {
    font-family: 'Marvel-font';
    src: url('../assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

#Homepage{
    
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 100%;


    .summary-text {

        display: inherit;

        flex-flow: row wrap;
        margin-top: 8em;
        margin-left: auto;

        height: 491px;
        width: 866px;
        padding: 10px 20px 20px 20px;
        
        background-image: url('/assets/images/comicbook.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        img {
            height: 100%;
        }
        .marvel-characters{
            
            font-size: 18px;
            width: 100%;
            height: fit-content;
            
            padding-left: 445px;
            font-family: 'Roboto';
            color: #000;
        }
        .marvel-history{

            align-self: flex-end;
            width: 28%;
            padding: 0 0 30px 0;

            font-size: 20px;
            color: #000;
            font-family: 'Roboto';
            text-align: center;
            justify-self: flex-start;
        }
    }
    .links{
        margin-top: 4em;
        display: flex;
        justify-content: space-around;

        .Oficina {

            background-image: url('/assets/images/Oficina.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            height: 175px;
            width: 574px;
            padding: 20px;

            margin-right: 7.5em;
            display: inherit;
            justify-content: flex-end;

            img {
                height: 100%;
                    }
            .office-name{
                font-family: 'Marvel';
                font-size: 40px;

                padding-left: 33%;

                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #000;

            }
            .office-text {
                
                padding-left: 33%;

                font-family: 'Roboto';
                color: #000;
                width: 100%;
            }      
        }
        .Galeria {

            background-image: url('/assets/images/Galeria.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            height: 175px;
            width: 574px;
            padding: 20px;

            margin-left: 7.5em;
            display: inherit;
            justify-content: flex-end;

            img {
                height: 100%;
                    }
            .gallery-name{
                font-family: 'Marvel';
                font-size: 40px;

                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #000;
            }
            .gallery-text {

                font-family: 'Roboto';
                color: #000;
                width: 70%;
            }      
        }
    }
}